ekilec-bench/evaluation
.vscode/
*__pycache__/
*data/
*results/
ekilec-reverse-dictionary/scripts/build_rd_dataset0.py
ekilec-reverse-dictionary/analysis.ipynb
*txt
ekilec-bench/shuffled_mqa/
*.env
*rd_dataset/
plots/